#about {
  @include centered;
  @include dimension(100%, 100%);
  
}
.about-wrapper{
  position:relative;
  display: flex;
}

.about-content{
  margin-top: 40px;
  flex: 1;
  position: relative;
  left: 50px;
}

h1{
  text-align: left;
  font-size: 40px;
  color: black; 
}

.goals{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  word-wrap: break-word;
  text-align: left;
}
img{
  
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  
}

.img-item{
  
  flex:1;
}

.about-list{
  li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  
    span{
      &:nth-child(1){
        font-weight:800;
        width: 130px;
        color: black;
      }
    }
  }
}

.about-count-project{
  display: flex;
  margin-top:20px;
  font-size: 20px;
  span{
      &:nth-child(1){       
        font-weight:800;
        width: 40px;
        color: blue;
      }
        &:nth-child(2){       
          font-weight:400;
          color: black;
        }
  }
}

.branch-wrapper{
  @include centered;
  @include dimension(100%, 100%);
}

.branch-item{
  width: 200px;
  flex-wrap: nowrap;
  cursor: pointer;
}

.branch-list{
  display: flex;
  margin-top: 20px;
  gap:70px;
  justify-content: space-around;
}

.button-download{
  margin-top: 50px;
  text-transform: capitalize;
  height: fit-content;
  width: fit-content;
  background-color: var(--color-hover);
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  color: white;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  &:hover{
    color: black;
  }
}
