#projects {
  .projects-wrapper {
    @include grid-cols(3, 1fr, 0);
    @include devices(md) {
      @include grid-cols(1, 1fr, 0);
    }
    .card-project {
      height: 350px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        &:hover {
          .desc {
            visibility: visible;
            opacity: 1;
          }
        }
        .lazy-load-image-background {
          position: absolute;
          z-index: 1;
          left: 50%;
          top: 50%;
          @include dimension(100%, 100%);
          transform: translate(-50%, -50%);
        }
        .image {
          @include img-fit;
        }
        .desc {
          height: 100%;
          position: relative;
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 15px;
          visibility: hidden;
          opacity: 0;
          transition: 0.3s all ease;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--color-hover);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
            opacity: 0.8;
            transition: 0.3s all ease;
          }
          h3,
          p {
            position: relative;
            z-index: 4;
            max-width: 250px;
            word-wrap: break-word;
            text-align: center;
            color: white;
          }
        }
      }
    }
  }

  .projects-count {
    padding: 7em 0 3em 0;
    @include devices(md) {
      padding: 0;
    }
    .projects-count-wrapper {
      @include grid-cols(4, 1fr, 30px);
      @include devices(md) {
        @include grid-cols(1, 1fr, 30px);
      }
      .count-item {
        display: block;
        width: 100%;
        text-align: center;
        padding: 30px 20px;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .number {
          color: var(--color-hover);
          font-weight: 700;
          font-size: 30px;
          display: block;
        }
        .title {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
