#resume{
  margin-top: 100px;
}
.resume-wrapper{
  @include dimension(100%, 100%);
  display: flex;
  
}

.resume-left{
  margin-top: 100px;
  flex: 1;
  li{
    font-weight: 700;
    color: black;
    margin-bottom: 20px ;
  }
}

.resume-right{
  flex: 2;
  
}

.resume_heading{
  color: var(--color-hover);
  font-size: 30px;
  font-weight: 800;
}

.content{
  margin-bottom: 20px; 
  border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
  border-color: black;
  padding: 0 30px 30px 30px ;
  margin-left: 20px;
  .date{
    color: var(--color-hover);
    font-weight: 700;
  }
  .heading{
    font-weight: 700;
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .title{
    color: black;
    font-weight: 700;
   
  }
}
.card{
  margin-top: 20px;;
  .icon{
    margin-right: 30px;
    position: absolute;
    font-size: 30px;
    color: white;
    &:after{
      position: absolute;
      left: -13px;
      top: -5px;
      z-index: -1;
      content: "";
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: var(--color-hover) ;
  }
  }
}