#resume{
  margin-top: 100px;
}
.resume-wrapper{
  @include dimension(100%, 100%);
  display: flex;
  
}

.resume-left{
  margin-top: 100px;
  flex: 1;
  li{
    font-weight: 700;
    color: black;
    margin-bottom: 20px ;
  }
}

.resume-right{
  flex: 2;
  
}

.resume_heading{
  color: var(--color-hover);
  font-size: 50px;

}