#services{
  position: relative;
  .services-title{
    margin-top: 150px;
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
  }
  .services-desc{
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}



.services-list{
  margin-top: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  
}
.box-wrapper{
  padding: 50px;
  height: fit-content;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  &:hover{
    background-color: var(--color-hover);
   
  }
}

#box{
  font-size: 15px;
  color: black;
  .icon{
    color: black;
    font-size: 50px;
		margin-left: 50%;
    transform: translateX(-38%);
  }
  .box-name{
    position: relative;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .box-name:after{
    content: "";
    position: absolute;
    width: 30px;
    height:1px;
    pointer-events: none;
    background: #3e64ff;
    bottom: -10px;
    left: 47%;
  }
  .box-content{
    text-align: center;
    margin-top: 20px;
  }
}




